.background {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -2;
}

.navtab {
    border-style: none;
    padding: 7px;
}

.clear {
    opacity: 0%
}

.display {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}

.season-background {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hide-xoverflow {
    overflow-x: hidden;
}